.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.carousel {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 20px;
  flex-wrap: wrap;
}

.cards-container .card .card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.center-button {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
